<!DOCTYPE html>
<html lang="fr">
<head>
    <title>WebDevTools</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/devc.css">
</head>
<body id="index" class="home">
<div id="links">
<ul>
<li><a href="/">C Code</a></li>
<li><a href="/py">Python Code</a></li>
</ul>
</div>
<div id="content">
    <!-- ************  CODING ZONE  ************ -->
	<div id="code">
		<form method="post" action="{{ url_for(target) }}">
		    <div id="title-code" class="head-section">
		      Source Code
		    </div>
			<input id="launch-button" class="head-section" type="submit" value="Launch" />
		    {% block code %}
		    {% endblock %}
        </form>
	</div>
	
	<!-- ************ RUNNING ZONE RESULTS ************ -->
	
	<div id="result">
        <div id="title-result" class="head-section">
            Output result
        </div>
	    {% block run %}
	    {% endblock %}
	</div>
	
	<!-- ************ COMPILATION RESULTS ZONE ************ -->
	
	<div id="compile">
        <div id="title-compile" class="head-section">
            Compilation / Output
        </div>
	    {% block comp %}
	    {% endblock %}
	</div>
</div>
</body>
</html>
